<section  class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Toutes nos <strong>Marques</strong></h2>
              <div class="separator-2"></div>
              
              <div class="clients-container">
                <div class="clients">
                  
                  {% for marque in site.marques %}
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                    <a href="#"><img src="{{ marque.image }}" alt="{{ marque.title }}"></a>
                  </div>
                  {% endfor %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>