<section id="categories" class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Toutes nos <strong class="text-default">Categories</strong></h2>
              <div class="separator"></div>
              
            </div>
          </div>
        </div>
        <div class="owl-carousel carousel-autoplay pl-10 pr-10">
        {% for category in site.categories %}
          <div class="listing-item pl-10 pr-10 mb-20" >
            <div class="overlay-container bordered overlay-visible">
              <img src="{{ category.image }}" alt="" style="width: 297px; height: 297px;">
              <a href="{{ category.url }}" target="blank">
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">{{ category.title }}</h3>
                </div>
              </div>
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
      </section>