<section id="categories" class="section light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Toutes nos <strong>Categories</strong></h2>
              <div class="separator"></div>
              
            </div>
          </div>
        </div>
        <div class="owl-carousel carousel-autoplay pl-10 pr-10">
          <div class="listing-item pl-10 pr-10 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src="images/cat1.png" alt="">
              <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">Category Title</h3>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="listing-item pl-10 pr-10 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src="images/category-2.jpg" alt="">
              <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">Category Title</h3>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="listing-item pl-10 pr-10 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src="images/category-3.jpg" alt="">
              <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">Category Title</h3>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="listing-item pl-10 pr-10 mb-20 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src="images/category-4.jpg" alt="">
              <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">Category Title</h3>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="listing-item pl-10 pr-10 mb-20 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src="images/category-5.jpg" alt="">
              <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">Category Title</h3>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="listing-item pl-10 pr-10 mb-20 mb-20">
            <div class="overlay-container bordered overlay-visible">
              <img src="images/category-6.jpg" alt="">
              <a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
              <div class="overlay-bottom">
                <div class="text">
                  <h3 class="title">Category Title</h3>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>