<section class="section light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- pills start -->
              <!-- ================ -->
              <!-- Nav tabs -->
              <h2 class="text-center">Tous nos <strong>Produits</strong></h2>
              <div class="separator-2"></div>
              <!-- Tab panes -->
              <div class="tab-content clear-style">
                <div class="tab-pane active" id="pill-1">
                  <div class="row masonry-grid-fitrows grid-space-10">
                  {% for produit in site.produits %}
                    <div class="col-md-3 col-sm-6 masonry-grid-item">
                      <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                          <img src="{{ produit.image }}" alt="" style="width: 276px; height: 276px;">
                          <a class="overlay-link popup-img-single" href="{{ produit.image }}"><i class="fa fa-search-plus"></i></a>
                          <span class="badge">{{ produit.label }}</span>
                          
                        </div>
                        <div class="body">
                          <h3><a href="#">{{ produit.title }}</a></h3>
                          <p class="small">{{ produit.content }}</p>
                          <div class="elements-list clearfix">
                            <span class="price"><del>{{ produit.faux_prix }}</del></span>
                            <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">{{ produit.prix }}</i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %} 
                  </div>
                </div>
                
              </div>
              <!-- pills end -->
            </div>
          </div>
        </div>
      </section>