<div id="home" class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-banner-container">
            <div class="slider-banner-fullwidth-big-height">
              <ul class="slides">
                
                {% for slider in site.sliders %}
                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Nouvel arrivage">
                
                <!-- main image -->
                <img src="{{ slider.image }}" alt="{{ slider.image }}" data-bgposition="center top"  data-bgrepeat="no-repeat"  style="width: 1286px; height: 650px;">
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="bottom"
                  data-speed="600"
                  data-start="0">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout text-right large_white"
                  data-x="right"
                  data-y="180"
                  data-speed="500"
                  data-start="1000"
                  data-easing="easeOutQuad">{{ slider.text }}
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
                  data-x="right"
                  data-y="300"
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"><div class="separator-3 light"></div>
                </div>  

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfb fadeout medium_white text-right hidden-xs"
                  data-x="right"
                  data-y="320"
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600">{{ slider.content }}
                </div>

                
                </li>
                <!-- slide 2 end -->
                {% endfor %}
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>